<%# top_position = 0 %>
<%# left_position = 0 %>
<% offset = 0 %>
<% @squares.each do |square| %>
  <%# left_position = left_position + square.width %>
  <%# top_position = top_position + square.length %>
  <div style=
    "position: relative;
    left: <%= offset %>px;
    width:<%= square.width %>px;
    height:<%= square.length %>px;
    border:1px solid #000;
    background-color:<%= square.color %>">
    <%#= top_position %>
    <%#= left_position %>
  </div>
  <% offset = offset + square.width %>
<% end %>
