<% top_position = 0 %>
<% left_position = 0 %>
<% @squares.each do |square| %>
  <% left_position = top_position + square.width %>
  <% top_positon = left_position + square.length %>
  <div style=
    "position: fixed;
    top: <%= top_position %>px;
    left: <% left_position %>px;
    width:<%= square.width %>px;
    height:<%= square.length %>px;
    border:1px solid #000;
    background-color:<%= square.color %>">
  </div>
  <br>
<% end %>
