<% @squares.each do |square| %>
  <div style=
    "position: fixed;
    top: 0px;
    left: 0px;
    width:<%= square.width %>px;
    height:<%= square.length %>px;
    border:1px solid #000;
    background-color:<%= square.color %>">
  </div>
<% end %>
