<title>
  SQUARES
</title>
<h1>This is a terrible app</h1>

<%= link_to 'A list of squares (well, rectangles really)', controller: 'squares' %>
<%= link_to 'Add a new squaaaare', new_square_path %>
<p>
  I hate Ruby on Rails so much
</p>
